.card-continer {
    position: relative;
    background-color:#fff; 
    box-shadow: 1px 1px 1px 1px #ccc; 
    overflow: hidden; 
    height: 80px; 
    color:#444; 
    margin-bottom:10px;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
}

.card-continer-add-anim {
    animation: card-init .3s linear forwards;
    -webkit-animation: card-init .3s linear forwards;
}

.card-continer-remove-anim {
    animation: card-delete .3s linear forwards;
    -webkit-animation: card-delete .3s linear forwards;
}

@keyframes card-init {
    from {
        height: 0;
        transform: translateY(-10px);
    }
 
    to {
        height: 80px;
        transform : translateY(0);
    }
}
@-webkit-keyframes card-init {
    from {
        height: 0;
        -webkit-transform: translateY(-10px);
    }
 
    to {
        height: 80px;
        -webkit-transform : translateY(0);
    }
}

@keyframes card-delete {
    from {
        height: 80px;
        opacity: 1;
        transform: translateY(-10px);
    }
 
    to {
        height: 0;
        opacity: 0;
        margin-bottom:0;
        transform : translateY(0);
    }
}
@-webkit-keyframes card-delete {
    from {
        height: 80px;
        opacity: 1;
        -webkit-transform: translateY(-10px);
    }
 
    to {
        height: 0;
        opacity: 0;
        margin-bottom:0;
        -webkit-transform : translateY(0);
    }
}

.card-continer .card-inner-first-row {
    position: absolute;
    height:100%;
    width:100%;
    opacity:1;
    margin-left: 0;
    margin-right: 0;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
}

.card-continer .card-inner-second-row {
    position: absolute;
    bottom: -100%;
    height : 100%;
    width : 100%;
    background: #fff;
    opacity:0;
    margin-left: 0;
    margin-right: 0;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
}

.card-continer .second-box-open {
    bottom: 0;
    width:100%;
    height:100%;
    opacity:1;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
}

.card-continer .first-box-close {
    opacity:0;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
}

.col-1 {
    background-color:#6098CB; 
    height:80px; 
    position:relative;
}

.col-1 .col-content {
    position:absolute; 
    font-weight:600; 
    text-align:center; 
    color:#fff; 
    font-size:14px; 
    top: 50%; 
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
}

.add-card {
    font-size: 14px;
    padding: 4px 5px;
    background-color: #6098CB;
    color:#fff;
    cursor: pointer;
    display: inline-table;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
}

.add-card:hover {
    background-color: transparent;
    color:#6098CB;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.edit-card {
    position:absolute; 
    top:0; 
    right:0; 
    padding:5px 6px; 
    cursor: pointer;    
    background-color: #6098CB;
    color: #fff;
     -webkit-transition: all 0.3s ease ;
    -moz-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
}

.edit-card:hover {
    top:2px; 
    -webkit-transition: all 0.3s ease ;
    -moz-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
}

.close-card {
    position:absolute; 
    top:0; 
    right:0; 
    padding:5px 6px; 
    cursor: pointer;    
    background-color: #020202;
    color: #fff;
     -webkit-transition: all 0.3s ease ;
    -moz-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
}

.delete-card {
    position:absolute; 
    top:0; 
    right:25px; 
    padding:5px 8px;
    cursor: pointer;   
    background-color: #E1E1E1;
    color: #D01818;
     -webkit-transition: all 0.3s ease ;
    -moz-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
}
.delete-card:hover {
    top:2px; 
    -webkit-transition: all 0.3s ease ;
    -moz-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
}

.edit-col1 {
    height:80px; 
    position:relative;
}

.edit-col1 .col-content {
    position:absolute; 
    font-weight:600; 
    text-align:center; 
    color:#fff; 
    font-size:14px; 
    top: 50%; 
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
}

.edit-col2 {
    background-color:#6098CB; 
}

.save-btn{
    font-size: 14px;
    padding: 4px 5px;
    background-color: #FF9800;
    color:#fff;
    cursor: pointer;
    display: inline-table;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
}

.btn-continer {
    position: absolute;
    top: -23px;
    right: 20px;
}
