.add-card {
    font-size: 14px;
    padding: 4px 5px;
    background-color: #6098CB;
    color:#fff;
    cursor: pointer;
    display: inline-table;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
}

.add-card:hover {
    background-color: transparent;
    color:#6098CB;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}


.save-btn{
    font-size: 14px;
    padding: 4px 5px;
    background-color: #FF9800;
    color:#000;
    cursor: pointer;
    display: inline-table;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
    float: right;
    margin-top: 10px;
}

.list-input {
    background: transparent;
    border: 0;
    border: 1px solid #6098CB;
    padding: 0 10px;
    margin-bottom: 10px;
    width: 100%;
    color: #000;
     -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
}

.list-input-error {
    background: transparent;
    border: 0;
    border: 1px solid #F44336;
    padding: 0 10px;
    margin-bottom: 10px;
    width: 100%;
    color: #000;
     -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
}

.list-input:focus {
    outline: 0;
}

.list-input:hover {
    background-color: #FF9800; 
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
}

.list-close-input {
    position:absolute; 
    right:-5px; 
    top:-5px; 
    background-color:#F44336; 
    color: #fff;
    font-size: 11px;
    border-radius: 100%;
    padding: 3px;
    cursor: pointer;
}

.list-empty-add {
    width: 100%;
    background-color: #F44336;
    color: #fff;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}


input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 6px;
    margin: 0;
    border: none;
    padding: 1px 2px;
    border-radius: 14px;
    background: #FF9800;
    outline: none;
    cursor: pointer
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; 
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 12px;
  border: none;
  border-radius: 12px;
  background-color: #000;
}
input[type="range"]::-moz-range-thumb {
   width: 20px;
  height: 12px;
  border: none;
  border-radius: 12px;
  background-color: #000;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 12px;
  border: 0;
  border-radius: 12px;
  background-color: #000;
}

.item-percentage {
    color:#FFF; 
    background-color:#6098CB;     
    margin-top: 5px;
    padding: 4px 5px;
    float:right;
}

.item-percentage-edit {
    color:#FF9800; 
    background-color:#000;     
    margin-top: 5px;
    padding: 0px 5px;
    display: inline-block;
}