<div class="row" style="padding-left:30px; color:#444;">
    <h3 style="display:inline-table; color:#6098CB; text-transform: uppercase; font-size:16px; font-weight:bold; letter-spacing:1;">{{listTitle}}</h3>
    <div *ngIf="cardEdit" (click)="AddRangeList()" class="add-card"><i class="fa fa-plus"></i></div>
    <div *ngIf="!cardEdit">
        <div *ngFor="let item of listItem" style="text-transform: uppercase; font-size:12px; margin-bottom:8px;">
            <div style="margin-bottom:2px;">{{item.title}}</div>
            <div style="border:1px solid #6B6868; width:100%;">
                <div [style.width.%]="item.percentage" style="height:6px; background-color:#6098CB;"></div>
            </div>
            <div class="item-percentage">
                {{item.percentage}} %
            </div>
        </div>
    </div>

    <div *ngIf="cardEdit">
        <div *ngFor="let item of listItem; let i = index" style="margin-bottom:10px;">
            <div style="display:block; position:relative;">
                <input type="text" class="list-input" [class.list-input-error]="item.errorStatus" placeholder="Title" [(ngModel)]="item.title"
                />
                <div class="list-close-input" (click)="DeleteList($event, i, item)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </div>
            <div>
                <input type="range" class="list-input" [(ngModel)]="item.percentage" />
            </div>
            <div class="item-percentage-edit">
                {{item.percentage}} %
            </div>
        </div>
    </div>
    <div *ngIf="listItem.length == 0" class="list-empty-add" (click)="AddRangeList()">
        <i class="fa fa-plus"></i> Add
    </div>
    <div *ngIf="cardEdit" (click)="SaveListData()" class="save-btn"><i class="fa fa-floppy-o" aria-hidden="true"></i></div>
</div>