<div class="col-lg-3" style="padding:0;">
    <div style="height:200px; background-color:#fff; box-shadow: 0px 0px 21px 0px #666; overflow:hidden;">
        <img [attr.src]="profileImage" style="width: 100%;" />
    </div>
</div>
<div class="col-lg-9" style="margin-top:30px; padding-left:30px;">
    <div *ngIf="!basicInfoEdit">
        <span style="font-size:30px; font-weight:bolder; display:block;" [attr.contenteditable]="basicInfoEdit">{{baseInfo.displayname}}</span>
        <div style="padding-left:10px;">
            <span style="font-size:14px; display:block;" [attr.contenteditable]="basicInfoEdit">{{baseInfo.currentProfession}}</span>
            <div style="margin-top:10px;">
                <span style="font-size:12px; display:block; margin-bottom:5px;"><i class="fa fa-envelope" aria-hidden="true"></i> <span style="margin-left:5px;" [attr.contenteditable]="basicInfoEdit"> {{baseInfo.emailAddress}}</span>
                
                </span>
                <span style="font-size:12px; display:block; margin-bottom:5px;"><i class="fa fa-map-marker"></i> <span style="margin-left:5px;" [attr.contenteditable]="basicInfoEdit">{{baseInfo.address}}</span>
                
                </span>
                <span style="font-size:12px; display:block;"><i class="fa fa-phone"></i> <span style="margin-left:5px;" [attr.contenteditable]="basicInfoEdit">+{{baseInfo.contryCode}} {{baseInfo.phoneNumber}}</span>
                
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="basicInfoEdit">
        <form [ngFormModel]="basicinfoForm" (ngSubmit)="onSubmit(basicinfoForm)" novalidate>
            <div>
                <div>
                    <div class="form-group-app">
                        <div class="normal-border" [class.error-border]="!basicinfoForm.controls.displayname.valid" [class.success-border]="basicinfoForm.controls.displayname.valid"></div>
                        <div class="form-input">
                            <input #displayname="ngForm" [(ngModel)]="baseInfo.displayname" type="text" [ngFormControl]="basicinfoForm.controls['displayname']"
                                required placeholder="Display Name" />
                        </div>
                    </div>
                    <div class="form-group-app">
                        <div class="normal-border" [class.error-border]="!basicinfoForm.controls.currentProfession.valid" [class.success-border]="basicinfoForm.controls.currentProfession.valid"></div>
                        <div class="form-input">
                            <input #currentProfession="ngForm" [(ngModel)]="baseInfo.currentProfession" type="text" [ngFormControl]="basicinfoForm.controls['currentProfession']"
                                required placeholder="Profession" />
                        </div>
                    </div>
                </div>
                <div class="margin-t-5p">
                    <div class="form-group-app">
                        <div class="normal-border" [class.error-border]="!basicinfoForm.controls.address.valid" [class.success-border]="basicinfoForm.controls.address.valid"></div>
                        <div class="form-input">
                            <input type="text" #address="ngForm" [(ngModel)]="baseInfo.address" [ngFormControl]="basicinfoForm.controls['address']" required
                                placeholder="Address" />
                        </div>
                    </div>
                    <div class="form-group-app">
                        <div class="normal-border" [class.error-border]="!basicinfoForm.controls.emailAddress.valid" [class.success-border]="basicinfoForm.controls.emailAddress.valid"></div>
                        <div class="form-input">
                            <input type="text" #emailAddress="ngForm" [(ngModel)]="baseInfo.emailAddress" [ngFormControl]="basicinfoForm.controls['emailAddress']" required
                                placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-group-app">
                        <div class="normal-border" [class.error-border]="!basicinfoForm.controls.contryCode.valid" [class.success-border]="basicinfoForm.controls.contryCode.valid"></div>
                        <div class="form-input">
                            <input type="text" #contryCode="ngForm" [(ngModel)]="baseInfo.contryCode" [ngFormControl]="basicinfoForm.controls['contryCode']"
                                required placeholder="Code" />
                        </div>
                    </div>
                    <div class="form-group-app">
                        <div class="normal-border" [class.error-border]="!basicinfoForm.controls.phoneNumber.valid" [class.success-border]="basicinfoForm.controls.phoneNumber.valid"></div>
                        <div class="form-input">
                            <input type="text" #phoneNumber="ngForm" [(ngModel)]="baseInfo.phoneNumber" [ngFormControl]="basicinfoForm.controls['phoneNumber']"
                                required placeholder="Phone Number" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="btn-continer" [hidden]="!basicInfoEdit">
        <button class="save-btn" (click)="saveBasicInfo(basicinfoForm)"> 
           <span> <i class="fa fa-cloud" aria-hidden="true"></i> Save</span>
        </button>
    </div>
</div>