<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding:0;">
    <div style="height:200px; background-color:#fff; box-shadow: 0px 0px 21px 0px #666; overflow:hidden;">
        <img [attr.src]="profileImage" style="width: 100%;" />
    </div>
</div>
<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 base-info-component" style="margin-top:11px; padding-left:30px;">
    <div [hidden]="openEditPanel">
        <span style="font-size:30px; font-weight:bolder; display:block;">{{baseInfo.displayname}}</span>
        <div style="padding-left:10px;">
            <span style="font-size:14px; display:block;">{{baseInfo.currentProfession}}</span>
            <div style="margin-top:10px;">
                <span style="font-size:12px; display:block; margin-bottom:5px;"><i class="fa fa-envelope" aria-hidden="true"></i><span style="margin-left:5px;">{{baseInfo.emailAddress}}</span>
                </span>
                <span style="font-size:12px; display:block; margin-bottom:5px;"><i class="fa fa-map-marker"></i><span style="margin-left:5px;">{{baseInfo.address}}</span>

                </span>
                <span style="font-size:12px; display:block;"><i class="fa fa-phone"></i><span style="margin-left:5px;">+{{baseInfo.contryCode}} {{baseInfo.phoneNumber}}</span>

                </span>

                <span *ngIf="baseInfo.dob" style="font-size:12px; display:block; margin-bottom:5px;">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span style="margin-left:5px;">{{ baseInfo.dob | dateToAge }}</span>
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="basicInfoEdit" [class.edit-panel-close]="!openEditPanel" [class.edit-panel]="openEditPanel" >
        <!--<div class="overlay-of-panel" ></div>-->
        <div class="edit-close"  (click)="OpenAndCloseBasicInfo(false)">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="save-btn-poup" (click)="saveBasicInfo(basicinfoForm)">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </div>
        <form [ngFormModel]="basicinfoForm" (ngSubmit)="onSubmit(basicinfoForm)" novalidate style="padding: 0px 20px; overflow:hidden; height:100%;">
            <div>
                <div>
                    <div class="form-group-app">
                        <div class="form-input normal-border" [class.error-border]="!basicinfoForm.controls.displayname.valid" [class.success-border]="basicinfoForm.controls.displayname.valid">
                            <span>Display Name </span> : <input #displayname="ngForm" class="input-header name-input" [(ngModel)]="baseInfo.displayname"
                                type="text" [ngFormControl]="basicinfoForm.controls['displayname']" required placeholder="Display Name"
                            />
                        </div>
                    </div>
                    <div class="form-group-app">
                        <div class="form-input normal-border" [class.error-border]="!basicinfoForm.controls.currentProfession.valid" [class.success-border]="basicinfoForm.controls.currentProfession.valid">
                            <span>Profession </span> : <input #currentProfession="ngForm" class="input-header prof-input"
                                [(ngModel)]="baseInfo.currentProfession" type="text" [ngFormControl]="basicinfoForm.controls['currentProfession']"
                                required placeholder="Profession" />
                        </div>
                    </div>
                </div>
                <div class="margin-t-5p">
                    <div class="form-group-app">
                        <div class="form-input normal-border" [class.error-border]="!basicinfoForm.controls.address.valid" [class.success-border]="basicinfoForm.controls.address.valid">
                            <span>Address </span> : <input type="text" #address="ngForm" class="input-header address-input"
                                [(ngModel)]="baseInfo.address" [ngFormControl]="basicinfoForm.controls['address']" required placeholder="address"
                            />
                        </div>
                    </div>
                    <div class="form-group-app">
                        <div class="form-input normal-border" [class.error-border]="!basicinfoForm.controls.emailAddress.valid" [class.success-border]="basicinfoForm.controls.emailAddress.valid">
                            <span>Email </span> : <input type="text" #emailAddress="ngForm" class="input-header contact-input-address"
                                [(ngModel)]="baseInfo.emailAddress" [ngFormControl]="basicinfoForm.controls['emailAddress']"
                                required placeholder="Email Address" />
                        </div>
                    </div>
                    <!--<div class="form-group-app">
                        <div class="normal-border" [class.error-border]="!basicinfoForm.controls.contryCode.valid" [class.success-border]="basicinfoForm.controls.contryCode.valid"></div>
                        <div class="form-input">
                            
                        </div>
                    </div>-->
                    <div class="form-group-app">
                        <div class="form-input normal-border" [class.error-border]="!basicinfoForm.controls.phoneNumber.valid || !basicinfoForm.controls.contryCode.valid"
                            [class.success-border]="basicinfoForm.controls.phoneNumber.valid || basicinfoForm.controls.contryCode.valid">
                            <span>Phone </span> : <i>+</i>
                            <input type="text" #contryCode="ngForm" class="input-header contact-input country-input" [(ngModel)]="baseInfo.contryCode"
                                [ngFormControl]="basicinfoForm.controls['contryCode']" required placeholder="contryCode" />
                            <input type="text" #phoneNumber="ngForm" class="input-header contact-input" [(ngModel)]="baseInfo.phoneNumber" [ngFormControl]="basicinfoForm.controls['phoneNumber']"
                                required placeholder="phoneNumber" />
                        </div>
                    </div>
                    
                    <div class="form-group-app">
                        <div class="form-input normal-border" [class.error-border]="!basicinfoForm.controls.dob.valid"
                            [class.success-border]="basicinfoForm.controls.dob.valid">
                            <span>Dob </span> : <input type="date" #dob="ngForm" class="input-header contact-input" [(ngModel)]="baseInfo.dob" [ngFormControl]="basicinfoForm.controls['dob']"
                                required/>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </form>
    </div>

    <div  *ngIf="basicInfoEdit" class="btn-continer" [hidden]="openEditPanel">
        <button class="save-btn" (click)="OpenAndCloseBasicInfo(true)"> 
          <span> <i class="fa fa-pencil"></i> Edit</span>
        </button>
    </div>
</div>