<div class="col-lg-3" style="padding:0;">
    <div style="height:200px; background-color:#fff; box-shadow: 0px 0px 21px 0px #666; overflow:hidden;">
        <img src="../../../app/assert/images/profiler_.jpg" style="width: 100%;" />
    </div>
</div>
<div class="col-lg-9" style="margin-top:30px; padding-left:30px;">
    <span style="font-size:30px; font-weight:bolder; display:block;" [attr.contenteditable]="basicInfoEdit" >{{baseInfo.title}}. {{baseInfo.name}}</span>
    <div style="padding-left:10px;">
        <span style="font-size:14px; display:block;" [attr.contenteditable]="basicInfoEdit">{{baseInfo.currentProfession}}</span>
        <div style="margin-top:10px;">
            <span style="font-size:12px; display:block; margin-bottom:5px;"><span style="margin-right:5px;" [attr.contenteditable]="basicInfoEdit">{{baseInfo.address}}</span><i class="fa fa-map-marker"></i></span>
            <span style="font-size:12px; display:block;"><span style="margin-right:5px;" [attr.contenteditable]="basicInfoEdit">{{baseInfo.phoneNumber}}</span>
            <i class="fa fa-phone"></i>
            </span>
        </div>
    </div>
</div>