.save-btn{
    color: #000;
    padding: 5px;
    border: 0;
    background-color: #FF9800;
    border-radius: 5px;
}

.btn-continer {
    position: absolute;
    top: -23px;
    right: 20px;
}

.form-group-app input[type="text"] {
    background: transparent;
    border: 0;
}

.form-group-app  input[type="text"]::-webkit-input-placeholder {
   color: #FFF;
}

.form-group-app input[type="text"]:-moz-placeholder { /* Firefox 18- */
   color: #FFF;
}

.form-group-app input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;
}

.form-group-app input[type="text"]:-ms-input-placeholder {  
   color: #FFF;
}