<div class="row" style="padding-left:30px; cursor: pointer;">
    <div *ngIf="cardEdit" (click)="focusOn(message)" class="add-card"><i class="fa fa-pencil"></i></div>
    <h3 style="display:inline-table; cursor: pointer; color:#6098CB; text-transform: uppercase; font-size:16px; font-weight:bold; letter-spacing:1;">
        {{title}}
        </h3>
    <div style="color:#444; font-size:11px;">
        <p [attr.contenteditable]="cardEdit" [class.p-editor]="cardEdit" #message>{{cardMessage}}</p>
        <!--<textarea class="text-area" [(ngModel)]="cardMessage" #editMessage *ngIf="cardEdit"></textarea>-->
    </div>
    <div *ngIf="cardEdit" (click)="SaveListData(message)" class="save-btn"><i class="fa fa-cloud" aria-hidden="true"></i></div>
</div>