<div style="background-color:#f5f5f5; padding-top:40px; padding-bottom:40px;">
    <div style="width:792px; overflow:hidden; background-color:#6098CB; margin: 0 auto; box-shadow: 5px -4px 17px -1px #ccc; color:#fff;">
        <div class="row">
            <div class="col-lg-3" style="padding:0;">
                <div style="height:200px; background-color:#fff; box-shadow: 0px 0px 21px 0px #666; overflow:hidden;">
                    <img src="../../app/assets/images/profiler_.jpg" style="width: 100%;" />
                </div>
            </div>
            <div class="col-lg-9" style="margin-top:30px; padding-left:30px;">
                <span style="font-size:30px; font-weight:bolder; display:block;">Mr. Name</span>
                <div style="padding-left:10px;">
                    <span style="font-size:14px; display:block;">Web & UI Developer</span>
                    <div style="margin-top:10px;">
                        <span style="font-size:12px; display:block; margin-bottom:5px;"><span style="margin-right:5px;">No. 50 second cross, kargil nagar, velrampet.</span>
                        <i
                            class="fa fa-map-marker"></i>
                            </span>
                            <span style="font-size:12px; display:block;"><span style="margin-right:5px;">9715261931</span>
                            <i class="fa fa-phone"></i>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>