.add-card {
    font-size: 14px;
    padding: 4px 5px;
    background-color: #6098CB;
    color:#fff;
    cursor: pointer;
    display: inline-table;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
}

.add-card:hover {
    background-color: transparent;
    color:#6098CB;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    transition: all 1s ease ;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}